@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playwrite+IN:wght@100..400&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

.login{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: rgb(218, 217, 217);
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 2rem;
    height: 90vh;
}

.container_1_login{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.main_login{
    margin-bottom: 0.1rem;
    font-size: 2.4rem;
    font-family: "Ubuntu Sans", serif;
    font-weight: 500;
    display: flex;
    align-self:flex-start;
    margin-left: 9.8rem;
}

.heading_login{
    font-family: "Ubuntu Sans", serif;
    font-weight: 450;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    color: #5e5e5e;
    margin-left: 9.8rem;
    margin-bottom: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


.login_input{
    width: 25rem;
    padding: 0.5rem;
    padding-top: 0.6rem;
    font-family: "Ubuntu Sans", serif;
    font-weight: bold;
    padding-bottom: 0.6rem;
    border-radius: 0.75rem;
    border: 1px solid rgb(207, 207, 207);
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    /* box-shadow: 1px 1px 10px rgb(227, 227, 228); */
}

form input::placeholder {
    font-family: "Ubuntu Sans", serif;
    /* Apply your chosen font */
    /* font-style: italic; */
    /* Italicize placeholder text */
    font-weight: 500;
    /* Adjust weight if needed */
    color: #aeadad;
    /* Placeholder text color */
}

.login_button{
    background-color: black;
    padding: 0.8rem;
    width: 30%;
    display: flex;
    margin-top: 0.8rem;
    align-self: center;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 15rem;
}

.login_button:hover{
    background-color: rgb(35, 35, 35);
}

.last_login{
    color: #5f5f5f;
}

.signup_signup{
    text-decoration: underline;
}

.container_2_login{
    display: flex;
    background-color: black;
    width: 50%;
    height: 75%;
    box-sizing: border-box;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-top-right-radius: 5rem ;
    border-bottom-right-radius: 5rem ;
}

.login_image{
    height: 75%;
}